@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 62.5%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #BE5D52 85.61%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2.4em;
}

.header-img {
    height: 7.2em;
}

.header-menu {
    display: flex;
    gap: 3.2em
}

.header-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 1.8em
}

.content {
    border-top: 0.04em solid #FFF2E7;
    margin-bottom: 4.8em;
}

.content-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-main-written {
    display: flex;
    flex-direction: column;
    gap: 3.2em;
}

.content-main-written-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 6.4em;
    color: #FFF2E7;
}

.content-main-written-subtitle {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 2.4em;
    color: #ECD6C4;
}

.content-main-written-button {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 2.4em;
    color: #2F2325;
}

.content-main-written-img {
    height: 43em;
}